{% extends "base.twig" %}
{% block title %} Hello Page {% endblock %}
{% block content %}
  {{ parent() }}
  Kappa {{name}}
  <p>You visited this page {{ times }}</p>

    {% if not advice %}
      Cookies message <br>
    {% endif %}
{% endblock %}
