{% extends "base.twig" %}

{% block metas %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% endblock %}

{% block title %}
    PWBox | {{ form }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/message.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">

    <link rel="stylesheet" href="css/login.css">

{% endblock %}

{% block preLoadScripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/components/form.js"></script>
    <script src="semantic/dist/components/transition.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="{%  if form == "Login" %}js/loginPage.js{% else %}js/registerPage.js{%  endif %}" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="media/logo.png" class="image">
                <div class="content">
                    {% if form == "Login" %}
                    Log-in to your account
                    {% else %}
                    Register
                    {% endif %}

                </div>
            </h2>
            <form id="form" class="ui large form" method="post" enctype="multipart/form-data" action="{%  if form == "Login" %}/login{% else %}/api/user{%  endif %}">
                <div class="ui stacked segment">
                    {% block username %}{% endblock %}
                    {% block birthdate %}{% endblock %}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="{%  if form == "Login" %}user{% else %}envelope{%  endif %} icon"></i>
                            <input id="email" type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    {% block registerFields %}{% endblock %}
                    <button class="ui fluid large teal submit button" type="submit">{% if form == "Login" %}
                            Login
                        {% else %}
                            Register
                        {% endif %}</button>
                </div>

                <div class="ui error message"></div>

            </form>

            {% for msg in error %}

                <div class="ui error" style="color: indianred">
                    {{ msg }}
                </div>

            {% endfor %}

            {% if form == "Login" %}
            <div class="ui message">
                Need an account? <a href="{{ base_url }}/register">Sign Up</a>
            </div>
            {% else %}
                <div class="ui message">
                    Already got an account? <a href="{{ base_url }}/login">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}