{% extends "base.twig" %}
{% block title %}
    PWBox | Profile
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="semantic/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="semantic/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/form.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/message.css">
    <link rel="stylesheet" type="text/css" href="semantic/dist/components/icon.css">

    <link rel="stylesheet" href="css/styles.min.css">

{% endblock %}

{% block preLoadScripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}

{% content %}

<div class="ui center aligned grid">

    <div class="row" id="topProfile">

        <div class="three wide column">
            <div class="row" id="logoRowProfile">
                <img class="ui circular image" src="media/image.png" alt="image">
            </div>
        </div>

        <div class="five wide column">
            <div class="row">
                <h1 class="ui header" id="profileHeader">Profile</h1>
            </div>
        </div>

        <div class="eight wide middle aligned column">
            <a href="" id="profileLink">Account Settings</a>
        </div>

    </div>


    <div class="row" id="middleRowProfile">
        <img class="ui small circular middle aligned image" src="media/image.png" alt="image">
    </div>

    <div class="row">
        <div class="ui blue progress" id="progBar">
            <div class="bar"></div>
            <div class="label">Space used</div>
        </div>

    </div>

    <div class="row" id="contentRowProfile">

        <div class="ui five wide column">
        </div>

        <div class="ui three wide column">

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="leftText">Name</p>
                </div>
            </div>

            <div class="ui fitted divider"></div>

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="leftText">Email</p>
                </div>
            </div>

            <div class="ui fitted divider"></div>
            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="leftText">Birthday</p>
                </div>
            </div>

            <div class="ui fitted divider"></div>

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="leftText">Verified Account</p>
                </div>
            </div>



        </div>

        <div class="ui three wide column">

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="rightText">Name</p>
                </div>
            </div>

            <div class="ui fitted divider"></div>

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="rightText">Email</p>
                </div>
            </div>

            <div class="ui fitted divider"></div>

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <p id="rightText">dd / mm / yyyy</p>
                </div>
            </div>

            <div class="ui fitted divider"></div>

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <div class="ui toggle checkbox">
                        <input disabled="disabled" type="checkbox">
                        <label></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="ui vertical padded segment" id="profileInfoRow">
                    <a href="" class="ui left aligned red tiny header" id="deleteAccountButton">Delete account</a>
                </div>
            </div>

        </div>

        <div class="ui five wide column">
        </div>

    </div>
</div>


<div class="ui tiny modal" id="confirmPassModal">
    <i class="close icon"></i>
    <div class="header">
        Confirm Password
    </div>
    <div class="ui center aligned basic segment">
        <div class="description">
            <div class="ui header">To continue, enter your password:</div>
            <div class="ui input focus">
                <input placeholder="Enter password..." type="text">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Accept
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui tiny modal" id="deleteAccModal">
    <i class="close icon"></i>
    <div class="header">
        <i class="user times icon"></i>
        Delete account
    </div>
    <div class="ui center aligned basic segment">
        <div class="description">
            <div class="ui alert header">Are you sure you want to delete your account?</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green deny button">
            Cancel
        </div>
        <div class="ui negative right labeled icon button" id="deleteConfirmButton">
            Delete account
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<div class="ui tiny modal" id="deleteAccModal2">
    <i class="close icon"></i>
    <div class="header">
        <i class="user times icon"></i>
        Delete account
    </div>
    <div class="ui center aligned basic segment">
        <div class="description">
            <div class="ui alert header">Last chance. This will delete your account!</div>
        </div>
    </div>
    <div class="ui center aligned basic segment">
        <div class="description">
            <div class="ui header">To continue, enter your password:</div>
            <div class="ui input focus">
                <input placeholder="Enter password..." type="text">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui negative right labeled icon button">
            Delete account
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>



{% endblock %}
