{% extends "login.twig" %}

{% block username %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>
    </div>
{% endblock %}

{% block birthdate %}
    <div class="field">
        <div class="ui left icon input">
            <i class="birthday cake icon"></i>
            <input type="date" id="birthdate" name="birthdate" placeholder="Birth Date">
        </div>
    </div>
{% endblock %}

{% block registerFields %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat Password">
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="image icon"></i>
            <input type="file" id="profileimg" name="profileimg" placeholder="Profile Image">
        </div>
    </div>
{% endblock %}