{% extends "login.twig" %}

{% block username %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="username" placeholder="Username">
        </div>
    </div>
{% endblock %}

{% block birthdate %}
    <div class="field">
        <div class="ui left icon input">
            <i class="birthday cake icon"></i>
            <input type="date" name="birthdate" placeholder="Birth Date">
        </div>
    </div>
{% endblock %}

{% block registerFields %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="repeat-password" placeholder="Repeat Password">
        </div>
    </div>
{% endblock %}