{% extends "base.twig" %}
{% block content %}

    <form method="post" action="/api/user" enctype="multipart/form-data">
        <input type="email" name="email">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="date" name="birthdate">
        <input type="file" name="profileimg">
        <input type="submit" value="send">
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}