{% extends "login.twig" %}

{% block username %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="text" name="username" placeholder="Username">
        </div>
    </div>
{% endblock %}

{% block birthdate %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <label for="birthdate">Birth Date</label>
            <input type="datetime-local" name="birthdate">
        </div>
    </div>
{% endblock %}

{% block registerFields %}
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="repeat-password" placeholder="Repeat Password">
        </div>
    </div>
{% endblock %}