body,
html {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  max-height: 100%;
  float: left;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3em;
  color: white;
}

hr {
  height: 1px;
  background-color: #83a9d1;
  color: #83a9d1;
}

#logoRow {
  height: 15%;
  margin: 0px;
}

.header {
  font-size: 40px;
  color: white;
}

.ui.grid {
  height: 100%;
}

.item {
  color: #4284d6;
  font-size: 20px;
  padding-bottom: 10px;

  .itemChild {
    color: #4284d6;
  }
}

.checkbox {
  padding: 0;
}

.content.header {
  color: red;
}

.list {
  height: 100%;
  width: 100%;
  //background-color: blue;
  left: 20px;
  bottom: 0;
  //margin-bottom: 5%;
}

.row {
  margin-bottom: 10px;
}
/*.ui.form{
    align-content: center;
    //left: 5%;
}*/
.angle.up.icon {
  bottom: 10px;
  transform: scale(3.0);
  position: absolute;
  width: 100%;
}

.user.circle.icon {
  margin: 20%;
  transform: scale(4.0);
}

.field {
  align: center;
  width: 90%;
}

.divider {
  width: 80%;
  padding-bottom: 1em;
}

#rightPanelLogin {
  background-color: #4284d6;
}

#rightPanelRegister {
  background-color: #4284d6;
}

#dashLeft {
  //background-color: #e8ebf2;
  background-color: blue;
  height: 100%;
  max-width: 17%;
}

#dashRight {
  background-color: white;
  height: 100%;
}

#logoRowDash {
  margin-bottom: 50px;

  .image {
    height: 15em;
    width: 15em;
  }
}

#dashDivider {
  margin:1em;
  width: 100%;
}

//Profile Page

#topProfile {
  background-color: #4284d6;
  height: 20%;
  padding: 0;
  margin: 0;
}

#logoRowProfile {
  margin-top: 2em;
  margin-left: 1em;

  .image {
    height: 10em;
    width: 10em;
    padding: 1em;
  }
}

#profileHeader {
  font-size: 4em;
  color: #e8ebf2;
  padding-top: 1.5em;
  float: left;
}

#profileLink {
  font-size: 2em;
  color: #e8ebf2;
  float: right;
  margin-top: 2em;
  margin-right: 1em;
}

#middleRowProfile {
  height: 20%;
  padding: 1em;
  margin-bottom: 10px;
  margin-top: 20px;

  .img {
    height: 10em;
    width: 10em;
    margin: 0;
  }
}

#progBar {
  width: 30%;
  background-color: #d4d7dd;
}

#contentRowProfile {
  height: 55%;
  padding: 0;
}

#profileInfoRow {
  padding: 1.5em;

  .ui.checkbox {
    margin-bottom: 1em;
    float: right;
  }
}

#deleteAccountButton{
  float: right;
  margin-top: 15px;
  text-align: right;
}
#leftText {
  text-align: left;
}

#rightText {
  text-align: right;
}

#noPadding {
  padding: 0;
  margin: 0;
  width: 100%;
}
//About Page
#topRowAbout {
  height: 25%;
}

#backIcon {
  transform: scale(3);
  margin: 0;
  padding-top: 1em;
  padding-right: 3em;
}

#aboutImage {
  height: 12em;
  width: 12em;
}

#aboutImageRow {
  padding: 2em 24em;
}

#aboutHeader {
  font-size: 6em;
  color: #4284d6;
}

#text {
  font-size: 18px;
}
//Settings

#settingsHeader {
  font-size: 4em;
  color: #e8ebf2;
  padding-top: 1.5em;
  float: left;
}

#settingsContentHeader {
  float: left;
  padding-top: 1.5em;
  padding-left: 1em;
  margin-bottom: 2em;
  font-size: 2em;
  color: #303238;
}

#settingsContHeaderRow {
  height: 20%;
  margin: 0;
  padding-left: 1.5em;
}

#logoRowSettings {
  margin-left: 4em;
  margin-top: 1.5em;

  .image {
    height: 10em;
    width: 10em;
    padding: 0;
    margin: 0;
  }
}

#topSettings {
  background-color: #4284d6;
  height: 20%;
  padding: 0;
  margin: 0;
}

#middleRowSettings {
  height: 80%;
  background-color: white;
  padding: 0 0 0 1em;
  margin-bottom: 50px;
}

#settingsLeft {
  background-color: #d4d7dd;
  height: 100%;
  margin: 0;
  padding: 1em 0 0;
}

#settingsListItem {
  padding: 2em 2em 2.5em;

  a {
    float: left;
    font-size: 1.5em;
  }
}

#settingList {
  padding: 2em 2em 3em;
  text-align: left;

  img {
    padding: 0;
  }
}

#divider {
  width: 50%;
}

#rowPaddingSettings {
  padding-bottom: 2.5em;
  padding-top: 0.5em;
}

#changePassModal {
  .description {
    padding-bottom: 1em;
  }

  .input {
    padding-left: 1em;
  }
}

#topRow {
  //background-color: #161619;
  height: 15%;
}

#topSideList {
  margin: 0;
}

#folderSideList {
  max-height: 30%;
  overflow-y: scroll;
}


#childItem {
  margin-left: 15%;
  padding-bottom: 5%;
}

#parentItem {
  padding-bottom: 5%;
}

#dashCenter {
  background-color: white;
}

#dashRight {
  //background-color: orange;
}

#folder-list-column {
  height: 100%;
}

#dividerDash {
  height: 4%;
}

#contentGrid {
  height: 81%;
  //white-space:nowrap;
  overflow-y: scroll;
}

#main-content {
  height: 100%;
  margin-top: 0;
}

.dashItem {
  height: 175px;
  width: 150px;
  margin-left: 2.1em;

  .ui.image {
    height: 150px;
    width: 150px;
    padding: 0;
  }

  .ui.header {
    line-height: 1em;
    margin: 0.3em 0 0;
  }
}
