<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Profile Page test</title>
  <meta charset="utf-8">
  <meta name="description" content="PWBox Profile Page" />
  <meta name="author" content="Angel Farre, Rafael  Rebollo, Alex Vogel" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="stylesheet" href="css/styles.min.css" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <script src="js/testScript.js" type="text/javascript"></script>


</head>

<body>

  <div class="ui center aligned grid">

    <div class="row" id="topProfile">

      <div class="three wide column">
        <div class="row" id="logoRowProfile">
          <img class="ui circular image" src="media/image.png" alt="image">
        </div>
      </div>

      <div class="five wide column">
        <div class="row">
          <h1 class="ui header" id="profileHeader">Profile</h1>
        </div>
      </div>

      <div class="eight wide middle aligned column">
        <a href="" id="profileLink">Account Settings</a>
      </div>

    </div>


    <div class="row" id="middleRowProfile">
      <img class="ui small circular middle aligned image" src="media/image.png" alt="image">
    </div>

    <div class="row">
      <div class="ui blue progress" id="progBar">
        <div class="bar"></div>
        <div class="label">Space used</div>
      </div>

    </div>

    <div class="row" id="contentRowProfile">

      <div class="ui five wide column">
      </div>

      <div class="ui three wide column">

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="leftText">Name</p>
          </div>
        </div>

        <div class="ui fitted divider"></div>

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="leftText">Email</p>
          </div>
        </div>

        <div class="ui fitted divider"></div>
        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="leftText">Birthday</p>
          </div>
        </div>

        <div class="ui fitted divider"></div>

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="leftText">Verified Account</p>
          </div>
        </div>
      </div>

      <div class="ui three wide column">

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="rightText">Name</p>
          </div>
        </div>

        <div class="ui fitted divider"></div>

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="rightText">Email</p>
          </div>
        </div>

        <div class="ui fitted divider"></div>

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <p id="rightText">dd / mm / yyyy</p>
          </div>
        </div>

        <div class="ui fitted divider"></div>

        <div class="row">
          <div class="ui vertical padded segment" id="profileInfoRow">
            <div class="ui toggle checkbox">
              <input disabled="disabled" type="checkbox">
              <label></label>
            </div>
          </div>
        </div>
      </div>

      <div class="ui five wide column">
      </div>

    </div>
  </div>


  <div class="ui tiny modal">
    <i class="close icon"></i>
    <div class="header">
      Confirm Password
    </div>
    <div class="ui center aligned basic segment">
      <div class="description">
        <div class="ui header">To continue, enter your password:</div>
        <div class="ui input focus">
          <input placeholder="Enter password..." type="text">
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Accept
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

</body>

</html>
